<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="TheHerokuApp-UIAutomation">
    <test name="HerokuAppTests" >
        <classes>
            <class name="base.BaseTests" />
            <class name="digestauthenticate.BasicAuthenticationTests" />
            <class name="dropdown.DropdownTests" />
            <class name="forgotpassword.ForgotPasswordTests" />
            <class name="login.LoginTests" />
            <class name="logout.LogoutTests" />
            <class name="shiftingcontent.ShiftingContentTests" />
        </classes>
    </test>
</suite>
